
<div class="main-div">
  <header>
    <h1>Banca Caramelo</h1>

    <nav class="navbar navbar-expand-lg navbar-light " id = "main-navbar">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" id = "main-ul" style="--bs-scroll-height: 100px;">

          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <span><i class="bi bi-house-door">Home</i></span>
              </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span><i class="bi bi-chat-left-dots">Chat</i></span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span><i class="bi bi-percent">Promoções</i></span>
            </a>

          </li>

          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span><i class="bi bi-file-bar-graph">Fazer Pedido</i></span>
            </a>
          </li>


          <li class="nav-item dropdown">
            <span><i class="bi bi-percent">Configurações</i></span>
            <a class="nav-link active dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>

            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Meus Dados</a></li>
              <li><a class="dropdown-item" href="#">Lista de Pedidos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>

          </li>

        </ul>

      </div>

      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

    </nav>

  </header>

  <div class="navbar navbar-toggler color-name-nav rounded-pill ">
    <div class="container-fluid">
      <h2>Vera Lúcia</h2>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </div>


</div>
